:root{
    --modal-width: 500px;
}

.modal-background{
    background-color: rgba(10, 10, 10, 60%);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.task-modal, .project-modal{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: calc(50% - (var(--modal-width) / 2)); /* exactly in the center */
    width: var(--modal-width);
    animation: slide-down-fade-in 0.2s ease-in;
}

.task-modal{
    top: 15%;
}

.modal-out{
    animation: slide-up-fade-out 0.1s ease-out forwards;
}

.modal-header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.modal-header .modal-title{
    margin-left: 10px;
}

.modal-header .modal-close-button{
    margin-right: 10px;
    cursor: pointer;
}

.modal-body{
    flex: 1;
    width: 80%;
    align-self: center;
}

.modal-body input, .modal-body select{
    height: 22px;
    margin-top: 8px;
    border: solid 1px darkgrey;
    border-radius: 4px;
}

.modal-body select{
    appearance: none;
    background-image: url("./images/dropdown-arrow.png");
    background-repeat: no-repeat;
    background-position: right 3px center;
    background-size: 12px;
}

.modal-body input:focus-visible, .modal-body select:focus-visible{
    outline-color: skyblue;
}

.valid, .invalid{
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: right 4px center;
    padding-right: 20px;
}

.valid{
    outline: solid 1px lime !important;
    background-image: url("./images/check-circle-green.png");
}
select.valid{
    background: url("./images/dropdown-arrow.png") right 20px center, url("./images/check-circle-green.png") right 4px center;
    background-size: 12px, 14px;
    background-repeat: no-repeat;
}

.invalid{
    outline: solid 1px red !important;
    background-image: url("./images/exclamation-circle-red.png");
}

select.invalid{
    background: url("./images/dropdown-arrow.png") right 20px center, url("./images/exclamation-circle-red.png") right 4px center;
    background-size: 12px, 14px;
    background-repeat: no-repeat;
}

.required-indication{
    color: red;
}

.warning{
    margin: 4px 0 0;
    font-size: 14px;
    margin-bottom: -20px;
    color: darkred;
}

.project-modal input[type='radio'].hidden{
    display: none;
}

.project-modal .icon-container{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-top: 8px;
}

.project-modal .icon-container label{
    padding: 8px;
    border: solid 1px lightgrey;
    border-radius: 8px;
    cursor: pointer;
}

.project-modal input[type='radio']:checked + label{
    background-color: red;
}

.modal-body > [class*="wrapper"]{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.modal-body > [class*="wrapper"]:last-of-type{
    margin-bottom: 40px;
}

.task-modal.view .modal-body span{
    font-weight: 900;
}

.delete .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.delete i{
    font-size: 100px;
}

.delete .modal-body span{
    font-weight: 900;
}

.delete .modal-footer{
    margin: 0;
    height: 50px;
}

.delete .delete-button{
    background-color: red;
}

.modal-footer{
    height: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.modal-footer button{
    aspect-ratio: 21/9;
    height: 80%;
    margin: 0 8px 8px 0;
    cursor: pointer;
}

@keyframes slide-down-fade-in {
    0% {transform: translateY(-100px); opacity: 0.5}
    100% {transform: translateY(0); opacity: 1;}
}

@keyframes slide-up-fade-out {
    0% {transform: translateY(0); opacity: 1;}
    100% {transform: translateY(-100px); opacity: 0.5}
}