:root{
    --text-fade-in-animation-delay: 0s;
    --text-fade-in-animation-duration: 1s;
    --text-low-opacity-animation-delay: calc(var(--tick-animation-delay) + (var(--tick-animation-duration) / 2));
    --text-low-opacity-animation-duration: 0.5s;
    --tick-animation-delay: var(--text-fade-in-animation-duration);
    --tick-animation-duration: 0.3s;
    --rise-container-animation-duration: 0.3s;
    --container-animation-delay: calc(var(--text-low-opacity-animation-delay) + var(--text-low-opacity-animation-duration) + 0.5s);
    --decrease-wrapper-opacity-animation-duration: 0.3s;
    --wrapper-animation-delay: calc(var(--container-animation-delay) + var(--rise-container-animation-duration));
}

#animation-wrapper{
    position: absolute;
    backdrop-filter: blur(5px);
    background-color: var(--color-100-low-opacity);
    width: 100%;
    height: 100vh;
    z-index: 3;
    animation: decrease-opacity var(--decrease-wrapper-opacity-animation-duration) linear var(--wrapper-animation-delay) forwards;
}

#animation-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rise-container var(--rise-container-animation-duration) linear var(--container-animation-delay) forwards;
}


#title{
    font-family: 'Nerko One', cursive;
    font-size: min(16vw, 300px);
    margin-top: -1vw;
    color: var(--color-400);
    text-shadow: -0.4vw 0.4vw var(--color-500);
    animation: 
        fade-in var(--text-fade-in-animation-duration) var(--text-fade-in-animation-delay) forwards,
        low-opacity var(--text-low-opacity-animation-duration) var(--text-low-opacity-animation-delay) forwards;
}

#checkmark{
    position: absolute;
    margin-top: -1vw;
    opacity: 0;
    transform: rotate(45deg);
    box-sizing: border-box;
    border-bottom: solid 5vw var(--color-500);
    border-right: solid 5vw var(--color-500);
    animation: tick var(--tick-animation-duration) ease-out var(--tick-animation-delay) forwards;
    filter: drop-shadow(-0.3vw 0.3vw 0 var(--color-400));
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes low-opacity {
    0% {opacity: 1;}
    100% {
        opacity: 0.5;
        text-decoration: line-through;
        text-decoration-thickness: 0.5vw;
    }
}

@keyframes tick {
    0% {
        opacity: 1;
        width: 0;
        height: 0;
    }
    30% {
        width: 10vw;
        height: 0;
    }
    100% {
        opacity: 1;
        width: 10vw;
        height: 25vw;
    }
}

@keyframes rise-container{
    0% {transform: translateY(0);}
    100% {transform: translateY(-100vh);}
}

@keyframes decrease-opacity {
    0% {opacity: 1;}
    100% {opacity: 0;}
}