:root{
    --text-fade-in-animation-delay: 0s;
    --text-fade-in-animation-duration: 1s;
    --text-low-opacity-animation-delay: calc(var(--tick-animation-delay) + (var(--tick-animation-duration) / 2));
    --text-low-opacity-animaiton-duration: 0.5s;
    --tick-animation-delay: var(--text-fade-in-animation-duration);
    --tick-animation-duration: 0.5s;
    --rise-container-animation-duration: 0.5s;
    --drop-container-animation-duration: 0.5s;
    --container-animation-delay: calc(var(--text-low-opacity-animation-delay) + var(--text-low-opacity-animaiton-duration) + 0.5s);

    --color-300-low-opacity: rgb(0 180 216 / 90%);
    --color-400-low-opacity: rgb(0 119 182 / 90%);
}

#animation-container-top{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rise-container var(--rise-container-animation-duration) var(--container-animation-delay) forwards;
    background-color: var(--color-300-low-opacity);
    backdrop-filter: blur(5px);

}

#animation-container-bottom{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 30vh;
    animation: drop-container var(--drop-container-animation-duration) var(--container-animation-delay) forwards;
    background-color: var(--color-400-low-opacity);
    backdrop-filter: blur(5px);
}

#title{
    font-family: 'Nerko One', cursive;
    font-size: min(16vw, 300px);
    color: var(--color-400);
    text-shadow: -0.4vw 0.4vw var(--color-500);
    animation: 
        fade-in var(--text-fade-in-animation-duration) var(--text-fade-in-animation-delay) forwards,
        low-opacity var(--text-low-opacity-animaiton-duration) var(--text-low-opacity-animation-delay) forwards;
}

#checkmark{
    position: absolute;
    opacity: 0;
    transform: rotate(45deg);
    box-sizing: border-box;
    border-bottom: solid 5vw var(--color-500);
    border-right: solid 5vw var(--color-500);
    animation: tick var(--tick-animation-duration) ease-out var(--tick-animation-delay) forwards;
    filter: drop-shadow(-0.3vw 0.3vw 0 var(--color-400));
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes low-opacity {
    0% {opacity: 1;}
    100% {
        opacity: 0.5;
        text-decoration: line-through;
        text-decoration-thickness: 0.5vw;
    }
}

@keyframes tick {
    0% {
        opacity: 1;
        width: 0;
        height: 0;
    }
    30%{
        width: 10vw;
        height: 0;
    }
    100% {
        opacity: 1;
        width: 10vw;
        height: 25vw;
    }
}

@keyframes rise-container{
    0%{transform: translateY(0);}
    100%{transform: translateY(-70vh);}
}

@keyframes drop-container{
    0%{transform: translateY(0);}
    100%{transform: translateY(30vh);}
}