:root{
    --nav-height: 44px;
    --full-viewport-height-minus-nav-height: calc(100vh - var(--nav-height));
    --aside-width: 305px;
    --amount-of-projects: 0;
    --aside-projects-height: 40px;
    --new-project-button-height: 50px;
    --aside-projects-toggle-height: 40px;
    --aside-projectlist-projects-margin-bottom: 10px;
    
    --low-priority-color: yellow;
    --medium-priority-color: darkorange;
    --high-priority-color: red;

    /* Color palette: */
    --color-100: #CAF0F8;
    --color-200: #90E0EF;
    --color-300: #00B4D8;
    --color-400: #0077B6;
    --color-500: #03045E;

}

html, body{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.wrapper{
    height: var(--full-viewport-height-minus-nav-height);
    display: flex;
    position: relative;
}


/* Scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--color-200);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--color-200);
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	border-radius: 10px;
	background-color: var(--color-400);
}


/* Navbar */
nav{
    background-color: var(--color-500);
    color: var(--color-100);
    height: var(--nav-height);
    display: flex;
    align-items: center;
}

nav #hamburger-toggle{
    margin-left: 10px;
    cursor: pointer;
}

nav #page-title{
    margin-left: 20px;
    margin-right: auto;
}

nav #new-task-button{
    margin-right: 10px;
    cursor: pointer;
}


/* Aside section */
.aside-background{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: calc(var(--nav-height) * -1);
    background-color: rgba(10, 10, 10, 30%);
    z-index: 2;
}

aside{
    background-color: var(--color-300);
    height: 100%;
    width: 0;
    transition: width 0.2s ease-in;
    box-sizing: border-box;
    padding: 50px 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

aside.active{
    width: var(--aside-width);
}

aside *{
    white-space: nowrap;
}

/* Aside Projects */

aside .projects{
    height: calc(((var(--aside-projects-height) + var(--aside-projectlist-projects-margin-bottom)) * var(--amount-of-projects)) + var(--new-project-button-height));
    transition: height 0.3s;
    overflow: hidden;
}

aside .projects.hidden{
    height: 0px;
}

aside .project{
    height: var(--aside-projects-height);
    margin-left: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

aside .project > i{
    margin-left: 10px;
    margin-right: 10px;
}

aside .project:hover{
    background-color: var(--color-400);
}

aside .project.current{
    font-weight: 900;
    background-color: var(--color-400);
}

aside .project-list{
    margin: 20px 5px 0 35px;
    border-top: solid 1px var(--color-500);
}

aside #project-toggle{
    height: var(--aside-projects-toggle-height);
    display: flex;
    align-items: center;
    cursor: pointer;
}

aside #project-toggle i{
    margin-left: 10px;
}

aside .project-list .project{
    margin-left: 0;
    margin-bottom: var(--aside-projectlist-projects-margin-bottom);
    background-color: var(--color-200);
    border-radius: 5px;
    justify-content: center;
}

aside .project-list .project:hover, aside .new-project-button:hover{
    background-color: var(--color-400);
}

aside .project-list .project .project-title-wrapper{
    display: flex;
    gap: 5px;
    width: 70%;
}

aside .project-list .project .project-title-wrapper span{
    overflow: hidden;
    text-overflow: ellipsis;
}


aside .project-list .project .project-title-wrapper i{
    margin-left: 0;
}

aside .project-list .project i{
    margin-right: 0;
    margin-left: 10px;
}

aside .project-list .project i:hover{
    transform: scale(1.15);
}

aside .new-project-button{
    height: var(--new-project-button-height);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}


/* Main section*/
main{
    width: calc(100% - var(--aside-width));
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: var(--color-100);
}

main .project-tasks{
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.project-tasks .task{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.project-tasks .task .top{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--color-200);
    border-radius: 10px 10px 0 0;
    z-index: 1;
}

.project-tasks .task .top:hover, .project-tasks .task .top.active{
    background-color: var(--color-300);
}

.project-tasks .task .top.low{
    outline: solid 1px var(--low-priority-color);
}

.project-tasks .task .top.medium{
    outline: solid 1px var(--medium-priority-color);
}

.project-tasks .task .top.high{
    outline: solid 1px var(--high-priority-color);
}

.project-tasks .task .top .status-checkbox{
    margin: 0 10px;
    cursor: pointer;
}

.project-tasks .task .top .task-title{
    margin-right: auto;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-tasks .task .top.done .task-title{
    text-decoration: line-through;
}

.project-tasks:not([data-project-name="Completed"]) .task .top.done{
    opacity: 0.5;
    outline: solid 1px var(--color-400);
}

.project-tasks .task .top i{
    margin-right: 10px;
}

.project-tasks .task .top i:hover{
    transform: scale(1.15);
}

.project-tasks .task-details{
    height: 190px;
    transition: height 0.2s;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--color-200);
    border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    padding: 0 10%;
}

.project-tasks .task-details p{
    margin: 0;
}

.project-tasks .task-details p > span{
    font-weight: 900;
}

.project-tasks .task-details.collapsed{
    height: 0;
}

.project-tasks .task #priority-toggle.low{
    color: var(--low-priority-color);
}

.project-tasks .task #priority-toggle.medium{
    color: var(--medium-priority-color);
}

.project-tasks .task #priority-toggle.high{
    color: var(--high-priority-color);
}

.project-tasks #add-task-button{
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.project-tasks #add-task-button:hover{
    background-color: var(--color-200);
}

@media (max-width: 700px), (orientation: portrait){
    aside{
        position: absolute;
    }

    .aside-background.active{
        display: block;
    }

    .task #move-task-button, .task #priority-toggle{
        display: none;
    }

    .project-tasks .task .top .task-title{
        max-width: 20ch;
    }
}
